{% extends 'base.html.twig' %}

{% set title = 'Zorglux - Contactez-nous' %}
{% set description = "Besoin d'aide ? Contactez-nous dès aujourd'hui ! Vous pouvez nous joindre par téléphone, email, ou nous rendre visite à notre adresse à Paris. Nous sommes là pour vous aider avec toutes vos questions et besoins." %}
{% set logoUrl = 'https://zorglux-bucket.s3.eu-north-1.amazonaws.com/default/logo.png' %}
{% set phone = '+33 7 69 34 87 44' %}
{% set email = 'jotomatics@gmail.com' %}
{% set address = '242 Fbg St Antoine, 75012 Paris' %}
{% set mapUrl = 'https://maps.app.goo.gl/F1o72hBjfHv1cw8y8' %}

{% block canonical %}
    <link rel="canonical" href="{{ absolute_url(path('public_contact')) }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block meta %}
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Zorglux">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ logoUrl }}">
    <meta property="og:url" content="{{ path('public_contact') }}">
{% endblock %}

{% block meta_twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ logoUrl }}">
{% endblock %}

{% block jsonld %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Zorglux",
            "url": "https://www.zorglux.works",
            "logo": "{{ logoUrl }}",
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "{{ phone }}",
                "contactType": "Customer Service",
                "areaServed": "FR",
                "availableLanguage": ["French", "English"]
            },
            "sameAs": [
                "https://www.facebook.com/zorglux",
                "https://www.twitter.com/zorglux_works",
                "https://www.linkedin.com/company/zorglux",
                "https://www.youtube.com/channel/zorglux",
                "https://www.pinterest.fr/zorgluxx/"
            ],
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "242 Fbg St Antoine",
                "addressLocality": "Paris",
                "postalCode": "75012",
                "addressCountry": "FR"
            }
        }
    </script>
{% endblock %}

{% block body_header %}
    {% include '@common/navbar.html.twig' %}
{% endblock %}

{% block body_content %}
    <twig:Container>
        <h1 class="text-4xl text-gray-500 font-bold mb-5">Contactez-nous</h1>

        <section id="contact">
            <h2 class="text-lg font-normal">Besoin d'aide ? Contactez-nous dès aujourd'hui !</h2>

            <ul class="m-0 text-sm">
                <li><strong>Téléphone :</strong> <a href="tel:{{ phone }}">{{ phone }}</a></li>
                <li><strong>Email :</strong> <a href="mailto:{{ email }}">{{ email }}</a></li>
                <li><strong>Adresse :</strong> <a href="{{ mapUrl }}">{{ address }}</a></li>
            </ul>
            <br><br>
            <div class="flex flex-row justify-center overflow-x-scroll">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5250.9481043266405!2d2.3871593768814114!3d48.84917010135474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6720d9c7af387%3A0x5891d8d62e8535c7!2s%C3%89cole%20Sup%C3%A9rieure%20de%20G%C3%A9nie%20Informatique!5e0!3m2!1sen!2sfr!4v1717453423248!5m2!1sen!2sfr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </section>

        <br><br>
        <section id="informations">
            <p class="text-sm italic">Nous sommes disponibles pour répondre à vos questions et vous aider dans vos projets.
                N'hésitez pas à nous contacter pour obtenir plus d'informations sur nos services ou pour planifier une
                consultation.</p>
            <br>
            <p class="text-sm italic">Que vous ayez besoin d'un conseil d'expert, d'une assistance technique ou simplement de plus
                amples informations, notre équipe est là pour vous accompagner à chaque étape. Faites-nous part de vos
                besoins et nous vous fournirons une solution adaptée à vos besoins.</p>
        </section>
    </twig:Container>
    <br>
{% endblock %}
