{% extends '@common/user/base.html.twig' %}

{% block title %}Write an article{% endblock %}

{% block body_header %}
    {% embed '@common/navbar.html.twig' %}
        {% block right_content %}
            <div class="hidden md:flex flex-row items-center">
                <a href="{{ path('public_about') }}" class="p-2 text-gray-500">About</a>
                <a href="{{ path('app_logout') }}" class="p-2">Logout</a>
                <twig:Avatar size="30" />
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    <div {{ stimulus_controller('quill', {
            options: {
                placeholder: 'Write your content ...',
                bounds: '#write-editor',
            }
        }) }}
    >
        {{ form_start(form, {}) }}
            {{ form_widget(form.title, {
                attr: {
                    class: 'text-4xl w-full border-b rounded-sm outline-none focus:border-black p-2 mb-4'
                }
            }) }}
            {{ form_widget(form.description, {
                attr: {
                    'data-quill-target': 'input',
                    'class': 'hidden'
                }
            }) }}
            <div id="write-editor" class="mb-4 rounded" {{ stimulus_target('quill', 'editor') }}></div>

            <div class="flex flex-row justify-end">
                <button type="submit" value="0" class="p-2 mr-1 text-gray-500 rounded-ss-2xl border border-gray-500">Draft</button>
                <button type="submit" value="1" class="p-2 text-white rounded-ee-2xl bg-green-500">Publish</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
