{% extends '@common/user/base.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ blog.description }}">
    <meta name="author" content="Johan Mickaël">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="{{ blog.title }}">
    <meta property="og:description" content="{{ blog.description }}">
    <meta property="og:image" content="{{ blog.thumbnail }}">
    <meta property="og:url" content="{{ path('blog_read', { slug: blog.slug }) }}">
{% endblock %}

{% block meta_twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ blog.title }}">
    <meta name="twitter:description" content="{{ blog.description }}">
    <meta name="twitter:image" content="{{ blog.thumbnail }}">
{% endblock %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body_header %}
    {% embed '@common/navbar.html.twig' %}
    {% endembed %}
{% endblock %}

{% block body_content %}
    <twig:Container>
        <h1 class="mt-8 text-5xl font-bold mb-2">{{ blog.title }}</h1>
        <h2 class="text-lg text-gray-500 mb-4 font-normal">{{ blog.description }}</h2>

        <div class="flex flex-row items-center mb-4">
            <twig:Avatar
                img="{{ blog.author.avatar|default('https://zorglux-bucket.s3.eu-north-1.amazonaws.com/default/avatar.jpg') }}"
                classes="mr-2"
                imageClasses="rounded-full object-cover"
                size="30"
            />
            <div>
                <span class="text-sm">{{ blog.author.username }}</span>
                <div class="text-xs text-gray-500">
                    <span>{{ blog.readingTime }} min de lecture</span>
                    <span> . </span>
                    <time datetime="{{ blog.createdAt|date }}">{{ blog.createdAt|date|trans }}</time>
                </div>
            </div>
        </div>

        <div class="border-y border-y-gray-100 py-3 text-sm text-gray-500 flex flex-row justify-between">
            <div class="flex flex-row">
                <twig:LikeButton classes="mr-3" />
                <twig:CommentButton />
            </div>
            <div class="grid grid-cols-4 gap-2">
                <twig:SocialShare service="twitter" :url="app.request.uri" />
                <twig:SocialShare service="facebook" :url="app.request.uri" />
                <twig:SocialShare service="linkedin" :url="app.request.uri" />
                <twig:SocialShare service="reddit" :url="app.request.uri" />
            </div>
        </div>

        <div class="flex flex-row justify-center">
            <img src="{{ blog.thumbnail }}" alt="{{ blog.title }}" class="w-full object-cover my-8" loading="lazy"/>
        </div>

        <div class="wysiwyg font-times text-lg">
            {{ blog.content|raw }}
        </div>
    </twig:Container>
{% endblock %}
