<nav class="w-full" {{ stimulus_controller('menu_toggler') }}>
    <div class="md:flex md:flex-row md:items-center md:justify-between p-4 shadow">
        <div class="flex flex-row items-center">
            <a href="{{ path('public_index') }}">
                <img src="{{ asset('build/images/logo.svg') }}" alt="zorglux logo" class="w-8 mr-4">
            </a>
            <div class="w-full mr-4">
                {% include '@components/search-form.html.twig' %}
            </div>
            <twig:Avatar size="30" classes="md:hidden mr-4" />
            <button {{ stimulus_action('menu_toggler', 'toggle') }} class="md:hidden"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="hidden md:flex flex-row items-center">
            <a href="{{ path('public_about') }}" class="mr-2 text-gray-500">About</a>
            <a href="{{ path('signin') }}" class="mr-2">Sign In</a>
            <twig:Avatar size="30" />
        </div>
    </div>
    <div {{ stimulus_target('menu_toggler', 'menu') }} class="transition-transform -translate-x-full w-4/5 min-h-screen absolute top-0 bg-white border">
        <div class="flex flex-col text-center">
            <a href="{{ path('public_index') }}" class="p-4 self-center">
                <img src="{{ asset('build/images/logo.svg') }}" alt="zorglux logo" class="w-8">
            </a>
            <a href="{{ path('public_about') }}" class="p-2 border-b border-b-gray-100">About</a>
            <a href="{{ path('signin') }}" class="p-2 border-b border-b-gray-100">Sign In</a>
        </div>
    </div>
</nav>

