<nav class="w-full">
    <div class="bg-white md:flex md:flex-row md:items-center md:justify-between p-4 shadow">
        {% block left_content %}
        <div class="flex flex-row items-center">
            <a href="{{ path('public_index') }}">
                <img src="https://zorglux-bucket.s3.eu-north-1.amazonaws.com/default/logo.png" width="30" height="30" alt="zorglux logo" class="mr-5">
            </a>
            <div class="w-full mr-4">
                {% include '@components/search-form.html.twig' %}
            </div>
            <twig:Avatar size="30" classes="md:hidden mr-4" />
            <button {{ stimulus_action('menu_toggler', 'toggle') }} class="md:hidden" name="menu-toggler" aria-label="toggleMenu"><i class="fa-solid fa-bars"></i></button>
        </div>
        {% endblock %}
        {% block right_content %}
        <div class="hidden md:flex flex-row items-center">
            <a href="{{ path('blog_index') }}" class="p-2 text-gray-500">Read</a>
            <a href="{{ path('blog_write') }}" class="p-2 text-gray-500">Write</a>
            <a href="{{ path('public_about') }}" class="p-2 text-gray-500">About</a>
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="p-2">Logout</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="p-2">Login</a>
            {% endif %}
            <twig:Avatar size="30" />
        </div>
        {% endblock %}
    </div>
</nav>

<div {{ stimulus_target('menu_toggler', 'menu') }} class="md:hidden transition-transform -translate-x-full w-4/5 min-h-screen absolute top-0 bg-white border">
    {% block mobile_menu %}
        <div class="flex flex-col text-center">
            <a href="{{ path('public_index') }}" class="p-4 self-center">
                <img src="https://zorglux-bucket.s3.eu-north-1.amazonaws.com/default/logo.png" alt="zorglux logo" width="50" height="50">
            </a>
            <a href="{{ path('blog_index') }}" class="p-2 text-gray-500">Read</a>
            <a href="{{ path('blog_write') }}" class="p-2 text-gray-500">Write</a>
            <a href="{{ path('public_about') }}" class="p-2 border-b border-b-gray-100">About</a>
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="p-2 border-b border-b-gray-100">Logout</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="p-2 border-b border-b-gray-100">Login</a>
            {% endif %}
        </div>
    {% endblock %}
</div>

