<article class="{{ this.classes }}" {{ stimulus_target('clickable', 'element') }}>
    <div class="flex flex-row items-center mb-4 text-gray-700">
        <twig:Avatar />
        <small>{{ this.blog.author.username }}</small>
    </div>
    <div class="flex flex-row justify-between">
        <div class="w-full flex flex-col justify-between">
            <div>
                <header>
                    <h2 class="text-2xl font-bold">
                        {{ this.title }}
                    </h2>
                </header>
                <section class="mt-2">
                    <p class="line-clamp-2 text-gray-500">{{ this.description }}</p>
                </section>
            </div>
            <figure class="flex justify-center md:hidden">
                <a class="" href="{{ this.blog.thumbnail }}" title="{{ this.title }}">
                    <img src="{{ this.blog.thumbnail }}" alt="{{ this.title }}" width="150" height="150" loading="lazy">
                </a>
            </figure>
            <footer class="mt-4 text-sm text-gray-500 flex flex-row">
                <time class="mr-4" datetime="{{ this.createdAt|date }}">{{ this.createdAt|date('M d') }}</time>
                <twig:LikeButton classes="mr-4" />
                <twig:CommentButton />
            </footer>
        </div>
        <figure class="hidden md:block">
            <img src="{{ this.blog.thumbnail }}" alt="{{ this.title }}" width="150" height="150" loading="lazy">
        </figure>
    </div>
</article>
