<div {{ attributes }}>
    <div {% if this.withCommentsContainer is same as true %}{{ stimulus_controller('comments_toggler') }}{% endif %}>
        <a
            {% if this.withCommentsContainer is same as true %}{{ stimulus_action('comments_toggler', 'toggle', 'click') }}{% endif %}
            title="Commentaires"
            class="cursor-pointer text-gray-500"
            href="#"
        >
            <i class="{{ this.iconType }} fa-comment"></i>
            <span>{{ this.blog.comments|length }}</span>
        </a>

        {% if this.withCommentsContainer is same as true %}
        <div class="hidden md:block">
            <twig:Comments :blog="this.blog" variant="desktop" />
        </div>

        <div class="md:hidden">
            <twig:Comments :blog="this.blog" />
        </div>
        {% endif %}
    </div>

</div>
