{% extends 'base.html.twig' %}

{% set title = "Zorglux : Votre Centre pour le Partage et l'Approfondissement des Connaissances" %}
{% set description = "Zorglux est votre plateforme ultime pour lire, écrire et approfondir vos connaissances sur divers sujets. Rejoignez une communauté d'enthousiastes et d'experts pour élargir vos horizons." %}
{% set logoUrl = 'https://zorglux-bucket.s3.eu-north-1.amazonaws.com/zorglux.webp' %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Zorglux">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ logoUrl }}">
    <meta property="og:url" content="{{ path('blog_index') }}">
    <meta property="og:type" content="website">
{% endblock %}

{% block meta_twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ logoUrl }}">
{% endblock %}

{% block jsonld %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Zorglux",
            "url": "https://www.zorglux.works",
            "logo": "{{ logoUrl }}",
            "description": "{{ description }}",
            "sameAs": [
                "https://x.com/zorglux_works",
                "https://www.youtube.com/@zorglux-works",
                "https://www.tiktok.com/@zorglux.works",
                "https://www.linkedin.com/in/zorglux/",
                "https://www.pinterest.fr/zorgluxx/"
            ]
        }
    </script>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ItemList",
            "itemListElement": [
                {% for blog in blogs %}
                    {
                        "@type": "ListItem",
                        "position": {{ loop.index }},
                        "item": {
                            "@type": "BlogPosting",
                            "headline": "{{ blog.title }}",
                            "description": "{{ blog.description }}",
                            "url": "{{ path('blog_read', { slug: blog.slug }) }}",
                            "articleBody": "{{ blog.content|striptags|replace({ "\n": " ", "\r": " " }) }}",
                            "image": "{{ blog.thumbnail }}",
                            "author": {
                                "@type": "Person",
                                "name": "{{ blog.author.username }}",
                                "image": "{{ blog.author.avatar|default('https://zorglux-bucket.s3.eu-north-1.amazonaws.com/default/avatar.jpg') }}"
                            },
                            "datePublished": "{{ blog.createdAt|date('Y-m-d\\TH:i:sP') }}",
                            "dateModified": "{{ blog.updatedAt|date('Y-m-d\\TH:i:sP') }}",
                            "publisher": {
                                "@type": "Organization",
                                "name": "Zorglux",
                                "logo": {
                                    "@type": "ImageObject",
                                    "url": "{{ logoUrl }}"
                                }
                            },
                            "mainEntityOfPage": {
                                "@type": "WebPage",
                                "@id": "{{ path('blog_read', { slug: blog.slug }) }}"
                            }
                        }
                    }{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        }
    </script>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ImageGallery",
            "name": "Galerie de Zorglux",
            "description": "Explorez notre galerie d'images de Zorglux, présentant des visuels vibrants et technologiques.",
            "url": "{{ absolute_url(path('gallery_index')) }}",
            "image": [
            {% for image in galleries %}
                {
                    "@type": "ImageObject",
                    "contentUrl": "{{ absolute_url(asset('images/gallery/' ~ image.src)) }}",
                    "description": "{{ image.alt }}",
                    "name": "{{ image.title }}"
                }{% if not loop.last %},{% endif %}
            {% endfor %}
        ]
    }
    </script>
{% endblock %}

{% block body %}
    {% set contentWrapperClasses = [
        'flex',
        'flex-row',
        'grow',
        'justify-center',
        'items-center',
    ]|join(' ') %}

    {% set contentClasses = [
        'w-full',
        'px-5',
        'md:w-2/3',
    ]|join(' ') %}

    <div class="flex flex-col h-screen border-b border-b-gray-100">
        <header {{ stimulus_controller('menu_toggler') }} class="sticky top-0 bg-white z-[9990]">
            {% include '@common/navbar.html.twig' %}
        </header>

        <div class="{{ contentWrapperClasses }}">
            <div class="{{ contentClasses }}">
                <h1 class="text-5xl md:text-7xl lg:text-8xl xl:text-9xl font-bold my-0 text-gray-500">Zorglux</h1>
                <h2 class="text-5xl md:text-7xl lg:text-8xl xl:text-9xl font-bold my-0">Idées</h2>
                <h2 class="text-5xl md:text-7xl lg:text-8xl xl:text-9xl font-bold my-0">Articles</h2>
                <p class="my-5 text-lg md:text-xl lg:text-2xl">Une place pour lire, écrire, et approfondir les
                    connaissances</p>
                <button
                    {{ stimulus_controller('clickable', { url: path('blog_index'), title: 'Découvrir la liste des articles' }) }}
                    {{ stimulus_action('clickable', 'visit', 'click') }}
                        class="w-full sm:w-2/3 md:w-1/2 lg:w-1/3 xl:1/4 text-white bg-black rounded-md px-4 py-2 md:px-6 md:py-3">
                    Découvrir
                </button>
            </div>
        </div>
    </div>

    <div id="latest-posts" class="{{ contentWrapperClasses }}">
        <div class="{{ contentClasses }}">
            <h2 class="font-bold">Les derniers posts</h2>
            {% include '@public/partials/latest-posts.html.twig' %}
        </div>
    </div>

    <div class="{{ contentWrapperClasses }}">
        <div class="{{ contentClasses }}">
            <h2 class="font-bold">Galeries</h2>
            {% include '@public/partials/gallery.html.twig' with {
                images: galleries,
                withMoreLink: true,
            } %}
        </div>
    </div>

    {% include '@common/footer.html.twig' %}
{% endblock %}
